<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.board.dao.BoardMapper">
	<!-- 게시판 전체 리스트를 가져오는 SQL -->
	<select id="allList" resultType="kr.board.entity.Board">
		select * from board1 order by num
	</select>
	<insert id="boardWrite" parameterType="kr.board.entity.Board">
	insert into board1(num,title,content,writer)
		values(board1_num.nextval,#{title},#{content},#{writer})
	</insert>
	<delete id ="boardDelete" parameterType="int">
	delete from board1 where num=#{num}
	</delete>
	<select id ="boardView" resultType="kr.board.entity.Board">
	select * from board1 where num=#{num}
	</select>
	<update id="boardUpdate" parameterType="kr.board.entity.Board">
	update board1 set title=#{title},content=#{content} where num=#{num}
	</update>
	<update id="countUpdate">
	update board1 set count=count+1 where num=#{num}
	</update>
	<select id="memberLogin" parameterType="kr.board.entity.Member" resultType="kr.board.entity.Member">
	select * from member where memId=#{memId} and memPwd=#{memPwd}
	</select>
</mapper>