* {
    box-sizing: border-box;
  }

  html, body {
    height: 100%;
  }
  
  .wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button {
    margin-top: 95px;
    margin-left: 320px;
    position: absolute;
    width: 70px;
    height: 60px;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    }
  
  .button:hover {
    background-color: #ffffff;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: rgb(0, 0, 0);
    transform: translateY(-7px);
  }
  body {
    font-size: 14px;
  }
  .v38_35 {
    width: 100%;
    height: 1024px;
    background: url("../images/v38_35.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v38_3 {
    width: 802px;
    height: 76px;
    background: url("../images/v38_3.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 30px;
    left: 363px;
    overflow: hidden;
  }
  .v30_7 {
    width: 86px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 23px;
    left: 0px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .v30_8 {
    width: 71px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 23px;
    left: 176px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .v30_9 {
    width: 83px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 23px;
    left: 337px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .v33_12 {
    width: 136px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 510px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .v38_2 {
    width: 66px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 736px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .v38_15 {
    width: 100%;
    height: 304px;
    background: url("../images/v38_15.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 677px;
    left: 314px;
    overflow: hidden;
  }
  .v38_5 {
    width: 131px;
    color: rgba(0,0,0,1);
    position: absolute;
    top: 0px;
    left: 6px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: left;
  }
  .v38_7 {
    width: 1016px;
    height: 43px;
    background: rgba(224,224,224,1);
    opacity: 1;
    position: absolute;
    top: 49px;
    left: 1px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v38_8 {
    width: 1016px;
    height: 43px;
    background: rgba(224,224,224,1);
    opacity: 1;
    position: absolute;
    top: 102px;
    left: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v38_10 {
    width: 1016px;
    height: 43px;
    background: rgba(224,224,224,1);
    opacity: 1;
    position: absolute;
    top: 208px;
    left: 1px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v38_14 {
    width: 1016px;
    height: 43px;
    background: rgba(224,224,224,1);
    opacity: 1;
    position: absolute;
    top: 261px;
    left: 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v38_9 {
    width: 1016px;
    height: 43px;
    background: rgba(224,224,224,1);
    opacity: 1;
    position: absolute;
    top: 155px;
    left: 1px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v38_16 {
    width: 218px;
    height: 1024px;
    background: url("../images/v38_16.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    overflow: hidden;
  }
  .v30_6 {
    width: 218px;
    height: 100%;
    background: rgba(66,66,66,1);
    opacity: 1;
    position: relative;
    top: 0px;
    left: 0px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    overflow: hidden;
  }
  .v38_12 {
    width: 173px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 15px;
    left: 30px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 35px;
    opacity: 1;
    text-align: left;
  }
  .v38_31 {
    width: 68px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 197px;
    left: 29px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: right;
  }
  .v38_32 {
    width: 47px;
    color: rgba(255,255,255,1);
    position: absolute;
    top: 197px;
    left: 142px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 20px;
    opacity: 1;
    text-align: right;
  }
  .v38_33 {
    width: 449px;
    height: 273px;
    background: url("../images/v38_33.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 1;
    position: absolute;
    top: 389px;
    left: 212px;
    overflow: hidden;
  }
  .v38_20 {
    width: 347px;
    height: 229px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 44px;
    left: 102px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    overflow: hidden;
  }
  .v38_21 {
    width: 116px;
    height: 37px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 84px;
    left: 135px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    text-align: center;
    font-size: medium;
  }
  .v38_25 {
    width: 200px;
    height: 37px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 140px;
    left: 134px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    text-align: center;
    font-size: medium;
  }
  .v38_26 {
    width: 200px;
    height: 37px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 196px;
    left: 134px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    text-align: center;
    font-size: medium;
  }
  .v38_23 {
    width: 63px;
    height: 37px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 84px;
    left: 271px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    text-align: center;
    font-size: medium;
  }
  .v38_24 {
    width: 63px;
    height: 37px;
    background: rgba(255,255,255,1);
    opacity: 1;
    position: absolute;
    top: 84px;
    left: 354px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    text-align: center;
    font-size: medium;
  }
 
  .v38_29 {
    width: 63px;
    height: 37px;
    background: rgba(97,97,97,1);
    opacity: 1;
    position: absolute;
    top: 192px;
    left: 354px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
  }
  .v38_19 {
    width: 273px;
    color: rgba(0,0,0,1);
    position: relative;
    top: 0px;
    left: 108px;
    font-family: Inter;
    font-weight: Regular;
    font-size: 30px;
    opacity: 1;
    text-align: right;
  }
  .v38_30 {
    width: 1016px;
    height: 227px;
    background: rgba(217,217,217,1);
    opacity: 1;
    position: absolute;
    top: 150px;
    left: 315px;
    overflow: hidden;
  }
  .v30_5 {
    width: 648px;
    color: rgb(0, 0, 0);
    position: absolute;
    top: 447px;
    left: 699px;
    
    font-family: Inter;
    font-weight: Regular;
    font-size: 80px;
    opacity: 1;
    text-align: right;
  }