<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.login.dao.ChallMapper">
	<insert id="insertChall" parameterType="kr.login.entity.tbl_member_challenge">
		insert into tbl_member values(mc_seq.nextval,#{mb_id},#{chall_item_seq},#{pay_money},sysdate)
	</insert>
	
</mapper>


